.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;

}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  margin: 0 5px !important;
}
.swiper-pagination-bullet-active{
 background-color: #79A78D !important;
}
.swiper-pagination-bullet{
  background-color:  #79A78D !important;
}
