@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.roboto{
  font-family: "Roboto", serif;
}
.josefin {
  font-family: "Josefin Sans", serif;
 
}
.common-color{
  color: #79A78D;
}
.slider .keen-slider__slide {
  border-radius: 20px !important;

}